.button {
  &:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow 0.2s;
  }

  &:active {
    transform: scale(0.96);
  }

  &:disabled {
    border-color: #dddddd;
    color: #dddddd;
    cursor: not-allowed;
    opacity: 1;
  }
}

.delete {
  background-color: #dddddd;
  color: darkred;
}
.edit {
  background-color: yellow;
  color: black;
}
.save {
  background-color: green;
  color: white;
}
.cancel {
  background-color: darkred;
  color: white;
}
