.button {
  background-color: #ffffff;
  border: 0.1px solid black;
  border-radius: 10px;
  // box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 5px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: 100%;
  position: absolute;
  bottom: 0;

  &:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow 0.2s;
  }

  &:active {
    // background-color: #f7f7f7;
    // border-color: #000000;
    transform: scale(0.96);
  }

  &:disabled {
    border-color: #dddddd;
    color: #dddddd;
    cursor: not-allowed;
    opacity: 1;
  }
}

.delete {
  background-color: #dddddd;
  color: darkred;
}
.edit {
  background-color: yellow;
  color: black;
}
.save {
  background-color: green;
  color: white;
}
.cancel {
  background-color: black;
  color: white;
}
